---
// This component is now integrated into the Navbar
// Keeping this file for backward compatibility but it's no longer used
---

<div class="hidden">
  <!-- Theme toggle functionality has been moved to Navbar.astro -->
</div>